.header {
  .flex(none, center);
  background-color: @research-pal-color-white;
  .border-bottom-grey();
  width: 1280px;
  height: 120px;
  border-radius: 0 0 20px 20px;
  margin-top: 44px;
  padding-bottom: 15px;
  @media(max-width: 1279px){
    .width-100();
  }
  @media(max-width: 500px){
    margin-top: 0;
  }
  
  .logo{
    width: 500px;
    height: auto;
    margin: 0 auto;
    @media(max-width: 500px){
      .width-100();
    }
  }
}