.width-100 {
  width: 100%;
}
.border-bottom-grey {
  border-bottom: 1px solid #f2f2f2;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v11/w8gdH283Tvk__Lua32TysjIfp8uK.ttf) format('truetype');
}
.top-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  position: fixed;
  min-height: 44px;
  background-color: #602040;
}
@media (max-width: 500px) {
  .top-bar {
    position: static;
  }
}
.top-bar .container {
  width: 1280px;
  display: flex;
  justify-content: none;
  align-items: none;
  flex-direction: row;
  color: #fff;
  letter-spacing: 1px;
  padding: 0 10px;
}
@media (max-width: 800px) {
  .top-bar .container {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .top-bar .container {
    flex-direction: column;
    position: static;
  }
}
.top-bar .container a {
  color: #fff;
  text-decoration: none;
}
.top-bar .container a:hover {
  text-decoration: underline;
}
.top-bar .container .container-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex: 1;
  font-size: 14px;
}
@media (max-width: 500px) {
  .top-bar .container .container-left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-direction: column;
    line-height: 50px;
    border-bottom: 1px solid #fff;
    font-size: 20px;
  }
}
.top-bar .container .container-left span {
  cursor: pointer;
}
.top-bar .container .container-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex: 3;
  font-size: 14px;
}
@media (max-width: 500px) {
  .top-bar .container .container-center {
    flex-direction: column;
    line-height: 50px;
    font-size: 18px;
  }
}
.top-bar .container .container-center span {
  cursor: pointer;
}
.top-bar .container .container-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex: 1;
  font-size: 14px;
}
@media (max-width: 500px) {
  .top-bar .container .container-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-direction: column;
    line-height: 50px;
    font-size: 20px;
    border-top: 1px solid #fff;
  }
}
.top-bar .container .container-right span {
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
  width: 1280px;
  height: 120px;
  border-radius: 0 0 20px 20px;
  margin-top: 44px;
  padding-bottom: 15px;
}
@media (max-width: 1279px) {
  .header {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .header {
    margin-top: 0;
  }
}
.header .logo {
  width: 500px;
  height: auto;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .header .logo {
    width: 100%;
  }
}
.tabs {
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 1280px;
  height: 47px;
  background-color: #602040;
  border-radius: 20px;
  margin-top: 10px;
}
@media (max-width: 1279px) {
  .tabs {
    width: 100%;
  }
}
.tabs .topics {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
}
.tabs .topics .title {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
}
@media (max-width: 500px) {
  .tabs .topics .title.about {
    display: none;
  }
}
.tabs .topics .tab {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  color: #fff;
  margin: 0 5px;
  padding: 2px 10px;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
}
.tabs .topics .tab:hover {
  text-decoration: underline;
}
.tabs .topics .active-tab {
  background-color: #fff;
  color: #602040;
  border: 2px solid #602040;
}
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 1280px;
  background-color: #fff;
  border-radius: 20px;
  padding: 0 40px 10px;
  margin-top: 10px;
  flex-direction: column;
}
@media (max-width: 1279px) {
  .intro {
    width: 98%;
  }
}
.intro h3 {
  max-width: 800px;
  line-height: 40px;
}
.cards-container {
  display: flex;
  justify-content: space-evenly;
  align-items: none;
  flex-direction: row;
  width: 1200px;
  margin-top: 16px;
  flex-wrap: wrap;
}
@media (max-width: 1199px) {
  .cards-container {
    width: 98%;
  }
}
.cards-container .card {
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 49%;
  border-radius: 20px;
  margin-bottom: 16px;
  padding: 24px;
}
@media (max-width: 500px) {
  .cards-container .card {
    width: 98%;
  }
}
.cards-container .card .photo {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.cards-container-about {
  width: 1200px;
  margin-top: 16px;
}
@media (max-width: 1199px) {
  .cards-container-about {
    width: 90%;
  }
}
.cards-container-about .card {
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  background-color: #fff;
  min-width: 435px;
  min-height: 400px;
  border-radius: 20px;
  margin-bottom: 16px;
  padding: 24px;
}
.cards-container-about .card .text {
  display: flex;
  justify-content: none;
  align-items: none;
  flex-direction: row;
  flex-direction: column;
}
.cards-container-about .card .five {
  width: 100%;
}
@media (max-width: 800px) {
  .cards-container-about .card {
    display: flex;
    justify-content: center;
    align-items: none;
    flex-direction: row;
    width: 90%;
    flex-direction: column;
  }
}
.cards-container-about .card .photo {
  width: 30%;
  margin-left: 40px;
}
.cards-container-about .card li {
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 35px;
  color: #000;
}
.footer {
  width: 1280px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  background-color: #fff;
  height: 50px;
  border-radius: 20px 20px 0 0;
  padding-bottom: 15px;
}
.footer h5 {
  margin: 0 auto;
}
@media (max-width: 1279px) {
  .footer {
    width: 100%;
  }
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}
p {
  font-family: 'Montserrat', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Varela Round', sans-serif;
}
