.cards-container {
  .flex(space-evenly);
  width: 1200px;
  margin-top: 16px;
  flex-wrap: wrap;
  @media(max-width: 1199px){
    width: 98%;
  }
  .card {
    .border-bottom-grey();
    .flex(space-between, none, column);
    background-color: @research-pal-color-lightgrey;
    width: 49%;
    border-radius: 20px;
    margin-bottom: 16px;
    padding: 24px;

    @media(max-width: 500px){
      width: 98%;
    }
    
    
    .photo {
      width: 100%;
      height: auto;
      border-radius: 20px;
    }
  }
}

.cards-container-about {
  width: 1200px;
  margin-top: 16px;
  // flex-flow: wrap column;
  @media(max-width: 1199px){
    width: 90%;
  }
  
  .card {
    .border-bottom-grey();
    
    .flex(flex-start, center);
    background-color: @research-pal-color-white;
    min-width: 435px;
    min-height: 400px;
    border-radius: 20px;
    margin-bottom: 16px;
    padding: 24px;

    .text{
      .flex();
      flex-direction: column;
    }

    .five{
      .width-100();
    }
    
    @media(max-width: 800px){
      .flex(center, none);
      width: 90%;   
      flex-direction: column;
    }
    
    .photo {
    width: 30%;
    margin: 0 50px 0 40px;

    }

    li{
      flex-wrap: wrap; 
      font-size: 16px;
      line-height: 35px;
      color: @research-pal-color-black;
    }
  }
}