.intro{
  .flex(center, center);
  .width-100();
  background-color: @research-pal-color-white;
  border-radius: 20px;
  margin-top: 10px;
  flex-direction: column;

  @media(min-width: 1280px){
    width: 1280px;
    }
}