.top-bar {
  .width-100();
  .flex(center);
  position: fixed;
  min-height: 44px;
  background-color: @research-pal-color-primary;

  @media(max-width: 500px){
    position: static;
  }

  .container {
    width: 1280px;
    .flex();
    color: @research-pal-color-white;
    letter-spacing: 1px;
    padding: 0 10px;
    @media(max-width: 800px){
      .width-100();
    }
    @media(max-width: 500px){
      flex-direction: column;
      position: static;
    }

    a{
      color: @research-pal-color-white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .container-left {
      .flex(flex-start, center);
      flex: 1;
      font-size: 14px;
      @media(max-width: 500px){
        .width-100();
        .flex(center, center);
        flex-direction: column; 
        line-height: 50px;
        border-bottom: 1px solid @research-pal-color-white;
        font-size: 20px;
      }
      span {
        cursor: pointer;
      }
    }
    .container-center {
      .flex(space-evenly, center);
      flex: 3;
      font-size: 14px;
      @media(max-width: 500px){
        flex-direction: column; 
        line-height: 50px;
        font-size: 18px;

      }
      span {
        cursor: pointer;
      }
    }

    .container-right {
      .flex(flex-end, center);
      flex: 1;
      font-size: 14px;
      @media(max-width: 500px){
        .flex(center, center);
        flex-direction: column;
        line-height: 50px;
        font-size: 20px;
        border-top: 1px solid @research-pal-color-white;
      }
      span {
        cursor: pointer;
      }
    }
  }
}
