.footer{
    .width-100();
    .flex(center, flex-end);
    background-color: @research-pal-color-white;
    height: 50px;
    border-radius: 20px 20px 0 0;
    padding-bottom: 15px;

    h5{
        margin: 0 auto;
    }

    @media(min-width: 1280px){
        width: 1280px;
    }
}